<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div style="height: 30px"></div>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">内容删除页面</h3>
            </div>
            <div class="panel-body">
                <h5><a href="{{index_url}}">内容管理界面</a></h5>
                {% include 'form.html' %}
            </div>
        </div>
    </div>
</div>

</body>
</html>