<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div style="height: 30px"></div>
    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-info">
                <div class="panel-heading" style="height: 50px">
                    <div class="col-sm-6" style="height: 35px;padding: 0px">
                        <h3 class="" style="height: 35px;line-height: 35px;margin: 0px;">内容管理界面</h3>
                    </div>
                    {% if search %}
                    <div class="clearfix" style="height: 35px">
                        <div class="col-sm-6 pull-right">
                            <form class="form-inline pull-right" method="get" action="">
                                <div class="form-group">
                                    <input name="search_value" type="text" class="form-control text-right"
                                           autocomplete="off" placeholder="Serch">
                                </div>
                                <button type="submit" class="btn btn-info">Search</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="clearfix">
                        <form class="form-inline" method="post" action="">
                            {% csrf_token %}
                            <div class="clearfix">
                                <div class="col-sm-8" style="padding: 0px">
                                    <select name="path_operate" class="form-control form-inline pull-left"
                                            style="width: 180px;display: inline-block;margin-right: 3px;">
                                        <option>------------------</option>
                                        {% for action in actions %}
                                        <option value="{{action.name}}">{{action.text}}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="" class="btn btn-info">GO</button>
                                </div>
                                <div style="line-height: 34px" class="col-sm-4 text-center">
                                    <span><a href="/stark/app01/book/">书籍管理</a></span>&nbsp;
                                    <span><a href="/stark/app01/author/">作者管理</a></span>&nbsp;
                                    <span><a href="/stark/app01/publish/">出版社管理</a></span>&nbsp;
                                    <span>{{add_link_tag}}</span>
                                </div>
                            </div>

                            <table class="table table-striped table-bordered table-hover" style="margin-top: 5px">
                                <thead>
                                <tr class="alert-primary">
                                    {% for field in head_list %}
                                    <td>{{ field }}</td>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for items in data_list %}
                                <tr>
                                    {% for field in items %}
                                    <td>{{ field }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </form>
                    </div>

                    <div class="text-right">{{page_tag_html|safe}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">FILTER</h3>
                </div>
                <div class="panel-body">
                    {% for k,a_html_list in filter_data_html_dic.items %}
                        <p>By {{k}}</p>
                        {% for a_label in a_html_list %}
                            {{a_label}}
                        {% endfor %}
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>